.main-sidebar {
    /* width: 180px; */
    height: 100vh;
 }


 .img-container {
    border: 1px solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 20%;
 }

 .sidebar {
    border: 1px solid;
    height: 70%;
 }

 .sign {
    border: 1px solid;
    display: flex;
    justify-content: center;
 }

 .link {
    display: flex;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
 }

 .link :hover {
    transition: all 0.5s;
 }
 
   .active {
      background: springgreen;
   }
